body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(165, 44, 44);
    text-decoration: none;
    font-size: 1em;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
}

.container img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 8px;
}

.container p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-top: 20px;
}
.personagens {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

.personagem {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personagem img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.personagem-info {
    max-width: 510px;
}

.personagem-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.personagem-info p {
    font-size: 1em;
    line-height: 1.6em;
}
